<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/pconlineweb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="connection.password"> </property>
        <!--Mapping file-->
        <mapping class="entity.Admins"/>
        <mapping class="entity.Categories"/>
        <mapping class="entity.Orders"/>
        <mapping class="entity.Payments"/>
        <mapping class="entity.Products"/>
        <mapping class="entity.Transactions"/>
        <mapping class="entity.Users"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>